.navbar{
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  background-color: whitesmoke;
  border-bottom: 1px solid lightgray;

  .navbarContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .search{
      display: flex;
      width: 30%;
      align-items: center;
      padding: 3px;
      border: 0.4px solid lightgray;


      input{
        width: 100%;
        border: none;
        outline: none;
        background: transparent;


        &::placeholder{
          font-size: 12px;
          padding-left: 4px;
        }
      }
    }
  }
}     